asttokens==3.0.0
contourpy==1.3.1
cramjam==2.11.0
cycler==0.12.1
decorator==5.1.1
dot2tex==2.11.3
executing==2.2.0
fastparquet==2024.11.0
fonttools==4.56.0
fsspec==2025.10.0
ipython==8.31.0
jedi==0.19.2
kiwisolver==1.4.8
matplotlib==3.10.1
matplotlib-inline==0.1.7
mpmath==1.3.0
networkx==3.4.2
numpy==2.2.2
packaging==24.2
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pillow==11.1.0
prompt_toolkit==3.0.50
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==22.0.0
Pygments==2.19.1
pygraphviz==1.14
pyparsing==3.2.1
python-dateutil==2.9.0.post0
pytz==2025.2
scipy==1.15.2
six==1.17.0
stack-data==0.6.3
sympy==1.13.3
tol_colors==2.1.0
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2025.2
wcwidth==0.2.13
